@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koulen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b06010;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand img {
  height: 12vh;
  margin-left: 5vw;
}

.nav-links {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20vw;
}

.nav-links a {
  font-size: 2.5vh;
  color: #b06010;
  background-color: white;
  cursor: pointer;
  padding: 0 1vw;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    transition: 0.3s all;
}

.nav-links a:hover {
  background-color: #004990;
  color: white;
}

.home {
  width: 100vw;
}

.artworks {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.artwork-navigation {
  width: 100vw;
  height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    background-color: #cdd7df;
    margin-top: 1vh;
}

.current-artwork {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-art-active {
  height: 69vh;
  min-width: 98vw;
  margin: 0 1vw;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    margin-top: 1vh;
    border-radius: 10px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s all;
}

.single-art {
  transform: translateX(101vw);
  transition: 0.3s all;
}

.sa-title {
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.sa-title p {
  padding: 0 1vw;
  line-height: 1.2;
  font-size: 2.75vh;
  color: white;
  background-color: black;
  border-radius: 10px;
}

.sa-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sa-img {
width: 40vw;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.sa-img img {
  height: 50vh;
  max-width: 39vw;
  outline: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgb(0 0 0 / 10%), 7px 7px 7px rgb(0 0 0 / 6%),
    7px 7px 7px rgb(0 0 0 / 7%);
}
.sa-img p {
  font-size: 2vh;
  margin-top: 2vh;
  max-height: 5vh;
  padding: 0 1vw;
  line-height: 1.2;
}
.sa-info {
  width: 58vw;
  height: 100%;
}
.sa-tags {
  width: 100%;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sa-tags span {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 0 1vh;
  margin: 0.5vh 0;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    font-size: 2.31vh;
    line-height: 1.2;
    text-align: center;
}
.sa-artist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}
.sa-artist p {
  font-size: 7vh;
  line-height: 1.4;
}
.sa-artist span {
  font-size: 2vh;
  padding: 0 1vw;
  text-align: center;
}
.sa-moreinfo {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}
.sa-moreinfo p {
  margin-top: 1vh;
  font-size: 2vh;
  padding: 0 1vw;
}
.mini-art-active,.mini-art {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s all;
}

.mini-art-active {
  opacity: 1;
  width: 20vw;
  background-color: hsl(210, 100%, 28%);
  height: 13vh;
  cursor: default;
}
.mini-art img,.mini-art-active img {
  height: 9vh;
}
.mini-art-active img {
  height: 11vh;
  border: 1px solid #cdd7df;
}
.pagination {
  display: flex;
  align-items: center;
}
.pagination button {
  background-color: #b06010;
  color: white;
  padding: 0 1vw;
  outline: none;
  border: none;
  font-size: 3vh;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 6%),
    0 0 4px rgb(0 0 0 / 7%);
}
.pagination button:hover {
  background-color: #004990;
}
.about {
  width: 90vw;
  margin-top: 2vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.about p {
  font-size: 5vh;
  color: #004990;
}
.about a {
color: #b06010;
}